
extends layout.pug

block content
    div.flex.max-w-4xl.mx-auto.gap-6
      a.block.max-w-sm.p-6.bg-white.border.border-gray-200.rounded-lg.shadow-md(href='/users' class='hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700')
        h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900(class='dark:text-white') All Users
        p.font-normal.text-gray-700(class='dark:text-gray-400')
          | Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
      a.block.max-w-sm.p-6.bg-white.border.border-gray-200.rounded-lg.shadow-md(href='/users' class='hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700')
        h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900(class='dark:text-white') All Users
        p.font-normal.text-gray-700(class='dark:text-gray-400')
          | Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
      a.block.max-w-sm.p-6.bg-white.border.border-gray-200.rounded-lg.shadow-md(href='/users' class='hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700')
        h5.mb-2.text-2xl.font-bold.tracking-tight.text-gray-900(class='dark:text-white') All Users
        p.font-normal.text-gray-700(class='dark:text-gray-400')
          | Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.